@font-face {
    font-family: interregular;
    src: url(../font/Inter_24pt-Regular.ttf);
}
@font-face {
    font-family: intermedium;
    src: url(../font/Inter_24pt-Medium.ttf);
}
@font-face {
    font-family: interbold;
    src: url(../font/Inter_24pt-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-header{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.3125rem; 
    background-color: #FF6B1A; 
    color: #FFFFFF;
    padding: 2.4375rem 2.5rem 2.5rem 2.5rem; 
    width: 100%;
}
    
.logo-area {
    display: flex;         
    flex-direction: row;    
    align-items: center; 
    gap: 12px;
}
.icon-naruto {
    width: 1.5rem;      
    height: auto;   
}
.top-header{
    background-color: #FF6B1A;
    color:#FFFFFF ;

    
}
.top-header p{
    font-family: "intermedium";
    font-weight: 500;
    font-size: 0.875rem;
}
.top-header h1{
      font-family: "interbold";
      font-size: 1.5rem;
      font-weight: 700;
}

    /* აქედან იწყება ღილაკის დასტილვა*/


.navigation {
    background-color:#1A1A1A ;
    padding: 14px 13px;
    display: flex;
    align-items: start;

    width: 100%;
}
    
.menu-btn {
    background-color: #FF6B1A;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 7px  17px;
    gap: 5px;
    font-family: "intermedium", sans-serif;
    font-weight: 500;
    font-size: 19px;
    cursor: pointer;

}

.menu-btn span {
    font-size: 18px;
    line-height: 1;
}

.nav-links {
    display: none;
}

/*ჰიროუ სექციას დასტილვა*/

.hero {
    background-color: #2A2A2AE5;
    background-image: url(/assets/g3173.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    padding: 137px 25px 136px 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 104px;
    

}

.hero-content h2 {
    color: #FFFFFF;
    font-family: "interbold";
    font-weight: 700;
    margin-bottom: 15px;
    z-index: 1;
    font-size: 1.5rem;
    line-height: 100%;
}

.hero-content p {
    color: #FFFFFF;
    font-family: "intermedium";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    justify-content:center;
    
}

/* მთავარი-შიგთავსის დასტილვა*/


.main-content {
    background-color: #F5F5F5;
    padding: 2.5rem 1.5625rem 8.5rem 1.5625rem;
    gap: 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 400px;
    border-radius: 0.75rem;
    border-top: 0.25rem solid #FF6B1A;;
    box-shadow:0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.1) ;
    padding: 1.5rem;
    line-height: 100%;
    gap: 30px;

}
.card-header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.75rem;
}
.card-icon{
    height: 1.5rem;
    width: 1.5rem;
    object-fit: contain;
    display: block;
}
.card-title {
    margin:0;
    font-size: 1.5rem;
    font-family: "interbold";
    font-weight: 700;
    line-height: 100%;
    color:#000000 ;

}
.card-content {
    font-family: "intermedium";
    font-weight: 400;
    line-height: 1.4;
    color:#666666 ;
    font-size: 1rem;
}

/* ფუტერი */

.section-footer {
    background-color: #1A1A1A;
    text-align: center;
    padding: 2.375rem 1.25rem ;
    width: 100%;
}
.section-footer p{
    text-align: center;
    font-family: "intermedium";
    font-weight: 500;
    line-height: 100%;
    font-size: 0.75rem;
    color: #FFFFFF;
}
.desktop-text {
    display: none;
}

/*მედია ქუერი მობაილი და ტაბლეტი*/

@media (min-width: 768px) {

    .navigation {

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.25rem 0;
    }
    .menu-btn {
        display: none;

    }
    .nav-links {
        display: flex;
        list-style: none;
        gap: 3rem;
        color: #FFFFFF;
        font-family: "intermedium";
        font-size: 1.0625rem;
        font-weight: 500;
        cursor: pointer;
    }
    .nav-links li:hover {
        color: #FF6B1A;

    }

    .hero-content h2 {
        font-size: 2.5rem;
    }
    .hero-content p {
        font-size: 1.125rem;
        max-width: 43.75rem;
        margin: auto;
    }

    .main-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 5rem 10%; 
        max-width: 1440px;
        margin: 0 auto;
    }
    .card{
        max-width: none;
    }
    .desktop-text{
        display: inline;
    }
    .section-footer p {
        font-size: 1rem;
        font-family: "intermedium";
        font-weight: 500;

    }
}
 /* მედია ქუერი-დიდი დესკტოპი,ბარათები უნდა გადავიდეს 3 სვეტზე */

@media (min-width: 1200px) {
    .main-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

